{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <p>Estimado cliente, actualmente usted ha registrado estos vehículos:</p>
    <table>
        <thead>
            <tr>
                <th>ID Vehiculo</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Placa</th>
                <th>Fecha registro</th>
                <th>Empresa</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculos %}
            <tr class="{% cycle 'white-row' 'red-row' %}">
                <td>{{ vehiculo.id }}</td>
                <td>{{ vehiculo.nombre }}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.color }}</td>
                <td>{{ vehiculo.placa }}</td>
                <td>{{ vehiculo.fecha_registro }}</td>
                <td>{{ vehiculo.id_empresa.nombre}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay vehículos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    body {
        font-family: Arial;
        background: #f8f8f8;
        margin: 0;
    }
    .header {
        background-color: #8B0000;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .container {
        padding: 20px;
        text-align: center;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }
    th {
        background-color: #8B0000;
        color: white;
        padding: 10px;
    }
    td {
        padding: 10px;
    }
    td, th {
        border: 1px solid #8B0000;
    }

    .white-row {
        background-color: #ffffff;
    }

    .red-row {
        background-color: #f28c8c;
    }
</style>
{% endblock %}
